@model IEnumerable<GestionDeEstudiantes.WEB.Entities.PaseDeLista>

@{
    ViewData["Title"] = "Index";
}
<link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<h2 class="text-center my-3">Listados</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Nueva Lista</a>
</p>
<div class="row">
    <div class="col-12">
        <div class="card">            
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tablaLista" class="table display" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    Codigo
                                </th>
                                <th>
                                    Estudiante
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>Estado</th>
                                <th>
                                    Fecha Creacion
                                </th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.Codigo)
                                    </td>
                                    <td>
                                        @item.IdEstudianteNavigation.Nombre @item.IdEstudianteNavigation.Apellido1 @item.IdEstudianteNavigation.Apellido2
                                    </td>
                                    <td>
                                        @item.Fecha.ToString("dddd dd MMMM yyyy")
                                    </td>
                                    <td>
                                        @item.IdOpcionNavigation.Nombre
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                                    </td>

                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                        <a class="btn btn-secondary mx-2" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Codigo</th>
                                <th>Estudiante</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Fecha Creacion</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
            

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tablaLista').DataTable({
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });

                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>');
                                });
                        });
                },
                scrollY: '250px',
                scrollCollapse: true,
                language: {
                    "decimal": "",
                    "emptytable": "No hay registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}