@model GestionDeEstudiantes.WEB.Entities.Calificaciones

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center my-3">Eliminar Calificación</h2>

<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoEscolar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoEscolar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMateriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMateriaNavigation.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-outline-primary mx-2" asp-action="Index">Volver a la lista</a>
    </form>
</div>
